@import "src/app/shared/style/variables";

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: $blueBlack;
    border-radius: 2%;
    border: transparent;
    color: #fff;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.label-info {
    margin-bottom: 6%;
}

.content-out {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content-inside {
    padding: 0 6vh 6vh 6vh;
}

.div-btn-close {
    height: fit-content;
    position: relative;
    top: 0.5rem;
    right: 0.5rem;
    outline: none;
}

.div-btn-close:hover {
    color: $accentColor;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border: 1.4px solid #fff;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #fff;
}

::ng-deep .mat-form-field-label {
    color: #fff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    color: #fff;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #fff !important;
    opacity: 0.2 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    opacity: 0.3;
    color: #fff;
}

.btn-submit:hover {
    background: #fff;
    color: $accentColor;
}

.god {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.close {
    width: fit-content;
    display: inline-block;
    position: relative;
    height: fit-content;
    left: 88%;
    top: 2%;
    color: #fff;
}

::ng-deep .mat-dialog-container {
    display: unset;
    padding: unset;
    border-radius: unset;
    box-sizing: unset;
    overflow: hidden;
    outline: unset;
    width: unset;
    height: unset;
    min-height: unset;
    max-height: unset;
    background: transparent;
}
