<div class="god fade-transition-in" *ngIf="!hasClosed">
    <div class="content">
        <div class="content-out">
            <div class="div-btn-close" (click)="close()">
                <button mat-icon-button style="outline: none;" tabindex="-1">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="content-inside">
                <div class="font label-info" [ngStyle]="{'max-width': getStyle('64vw', '18vw') }">
                    Informe-nos seu username para redefinição da senha.
                </div>
                <form [formGroup]="_form" (ngSubmit)="submit()">
                    <div class="form-content">
                        <mat-form-field appearance="outline" class="font">
                            <mat-label>Username</mat-label>
                            <input matInput class="font" autocomplete="off" type="text" formControlName="username" required
                                ngAutofillOff>
                            <mat-error *ngIf="!_form.get('username').valid">O Campo é obrigatório.</mat-error>
                        </mat-form-field>
                        <button style="margin-top: 0.2rem;" mat-raised-button
                            [ngClass]="[ hasClickSubmit ? 'disabled' : 'enabled' ]"
                            class="product-sans-light btn-submit fade-transition-in" cdkFocusInitial>Redefinir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>