<h4 class="step-title-in">
  {{ data?.title }}
</h4>
<form [formGroup]="_form">
  <div class="form-out">
    <div
      *ngFor="let item of data; let i = index"
      style="padding-left: unset; padding-right: 24px"
      [class]="item?.class"
    >
      <span *ngIf="item?.type === 'select'">
        <div class="form-group">
          <label>{{ item?.field }} </label>
          <div style="display: flex">
            <mat-select
              (openedChange)="hasOpenedChange($event)"
              matInput
              [placeholder]="'Selecione'"
              [multiple]="item?.hasMulti"
              [formControlName]="item?.formControlName"
              class="form-control"
              required
            >
              <div
                *ngIf="item.active"
                style="display: none"
                class="input-select-form-field"
              >
                <input
                  autocomplete="off"
                  matInput
                  type="text"
                  formControlName="searchWord"
                  placeholder="Pesquise"
                  (keydown)="$event.stopPropagation()"
                  class="input-select"
                />
                <button
                  style="position: fixed; top: 0; right: 0"
                  *ngIf="_form.controls.searchWord.value"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="_form.controls.searchWord.setValue('')"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <mat-option
                #matOption
                class="pattern-font-13px"
                *ngFor="let opt of item?.optsField"
                [value]="opt?.id"
                (click)="
                  onSelectValue(
                    item,
                    i,
                    matOption.selected,
                    matOption.value,
                    item?.hasMulti
                  )
                "
              >
                {{ opt?.value }}
              </mat-option>
            </mat-select>
            <div class="input-group-append" *ngIf="item?.formControlName">
              <a class="btn btn-primary add-subject-btn">
                <mat-icon id="addSubject" (click)="addItem(item)">{{
                  "add"
                }}</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </span>

      <span *ngIf="item.type === 'date'">
        <div class="form-group">
          <label>{{ item.field }}:</label>
          <input
            tabindex="-1"
            type="date"
            class="form-control"
            [placeholder]="item.field"
            [formControlName]="item?.formControlName"
          />
        </div>
      </span>

      <span *ngIf="item.type === 'upload'">
        <div class="form-group">
          <label>{{ item.field }}:</label><br />
          <input
            tabindex="-1"
            type="file"
            [ngClass]="{ 'input-upload-off': !hasEdit }"
            [formControlName]="item?.formControlName"
            multiple
            accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
            disabled="true"
          />
        </div>
      </span>

      <span *ngIf="item?.type === 'textinput' || item?.type === 'number'">
        <div class="form-group">
          <label>{{ item?.field }} </label>
          <input
            tabindex="-1"
            [type]="item?.type"
            class="form-control"
            [formControlName]="item?.formControlName"
            [placeholder]="item?.field"
          />
        </div>
      </span>
    </div>
  </div>
</form>
