// Utilities
@import "../../style/variables";

.material-icons {
    background: $accentColor;
    color: white;
    margin-left: 5px;
    padding: 3px;
    cursor: pointer;
}

.material-icons:hover {
    background: #fff;
    color: black;
}
