<div class="list-header-title tabela-cabecalho">
  <div class="row">
    <div class="col-6" style="text-align: left">
      <i
        *ngIf="hasInsertBtn"
        mat-icon-button
        class="cursor-pointer material-icons"
        (click)="insertData()"
        matTooltip="Inserir um novo registro"
        >add</i
      >
      <i
        *ngIf="hasUpdateBtn"
        mat-icon-button
        class="material-icons cursor-pointer"
        (click)="updateData()"
        matTooltip="Atualizar informações"
        >refresh</i
      >
      <i
        *ngIf="hasModifyBtn"
        mat-icon-button
        class="material-icons cursor-pointer"
        (click)="modifyData()"
        matTooltip="Alterar informações"
        >edit</i
      >
      <i
        *ngIf="hasRemoveBtn"
        mat-icon-button
        class="cursor-pointer material-icons"
        (click)="removeData()"
        matTooltip="Excluir o registro selecionado"
        >delete_outline</i
      >

      <vertical-divider *ngIf="hasOptionsBtn"></vertical-divider>
      <i
        *ngIf="hasOptionsBtn"
        class="cursor-pointer material-icons"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        matTooltip="Mais opções"
        >more_vert</i
      >

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <ng-content></ng-content>
      </mat-menu>
    </div>
    <div class="col-6" style="text-align: right; color: white">
      <div class="qtd-registro">
        <span>{{ dataNumber }}</span>
        <span *ngIf="selection.selected.length > 0">
          {{ selection.selected.length }}
        </span>
      </div>
    </div>
  </div>
</div>
