<div class="list-header-title tabela-cabecalho">
  <div class="row">
    <div class="col-6" style="text-align: left">
      <i
        *ngIf="botaoInserirVisivel"
        mat-icon-button
        class="cursor-pointer material-icons"
        (click)="insert()"
        matTooltip="Inserir um novo registro"
        >add</i
      >
      <i
        *ngIf="botaoAtualizarVisivel"
        mat-icon-button
        class="material-icons cursor-pointer"
        (click)="update()"
        matTooltip="Atualizar informações"
        >refresh</i
      >
      <i
        *ngIf="botaoAlterarVisivel"
        mat-icon-button
        class="material-icons cursor-pointer"
        (click)="edit()"
        matTooltip="Alterar informações"
        >edit</i
      >
      <i
        *ngIf="botaoExcluirVisivel"
        mat-icon-button
        class="cursor-pointer material-icons"
        (click)="remove()"
        matTooltip="Excluir o registro selecionado"
        >delete_outline</i
      >

      <vertical-divider *ngIf="botaoOpcoesVisivel"></vertical-divider>
      <i
        *ngIf="botaoOpcoesVisivel"
        class="cursor-pointer material-icons"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        matTooltip="Mais opções"
        >more_vert</i
      >

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <ng-content></ng-content>
      </mat-menu>
    </div>
    <div class="col-6" style="text-align: right; color: white">
      <div class="qtd-registro">
        <span>{{ dataNumber }}</span>
        <span *ngIf="selection.selected.length > 0">
          {{ dataNumberSelected }}
        </span>
      </div>
    </div>
  </div>
</div>
