@import "src/app/shared/style/variables";

.toast-out {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blueBlack;
  border-radius: 5px 5px 0px 0px;
}
.toast-in {
  display: flex;
  background: $blueBlack;
  align-items: center;
  border-radius: 5px;
}

.toast-in-align {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  text-align: center;
  color: $justWhite;
  font-family: "Montserrat";
  text-align: left;
  padding-left: 25px;
}

.ball-web {
  width: 18px;
  border-radius: 50%;
  height: 18px;
  position: relative;
  top: 15px;
}

.ball-mobile {
  width: 28px;
  border-radius: 50%;
  height: 20px;
  position: relative;
  top: 15px;
}

.align-message {
  margin-left: 1.5em;
  flex-direction: column;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  line-height: 1.5rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

.div-close-toast-btn {
  color: $justWhite;
  position: absolute;
  margin-left: 8%;
  top: 17px;
}

.msg {
  word-break: break-word;
  margin-bottom: unset !important;
  max-width: 255px;
}

.title-msg {
  font-family: "Product Sans Light Regular";
  font-weight: 500;
  color: $justWhite;
  margin-bottom: 5px;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
}

.align-close {
  outline: none;
  align-items: center;
  display: flex;
  border-radius: 0px 5px 5px 0px;
  width: fit-content;
  height: fit-content;
}

.btn-close {
  outline: none;
  display: flex;
  position: relative;
  bottom: 25%;
  width: fit-content;
  right: 50%;
  top: -30px;
}

::ng-deep .mat-icon-button i,
.mat-icon-button .mat-icon {
  line-height: 24px;
  margin-top: 4px;
  outline: none;
}


.toast-box-btn {
  border-radius: 0px 0px 5px 5px !important;
  text-align: center;
  text-transform: uppercase;
}

.full-width-ref {
  width: 100%;
}

.btn-box {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Product Sans";
  cursor: pointer;
}

.btn-yes {
  background: rgb(233, 30, 99, 0.8);
  color: black;
}

.btn-yes:hover {
  background: rgb(255, 255, 255, 0.7);
  color: rgb(233, 30, 99, 0.8);
  font-weight: bold;
}

.btn-no {
  background: #303030;
  color: $justWhite;
  opacity: 0.7;
}

.btn-no:hover {
  background: transparent;
  color: red;
  opacity: 0.6;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  ::ng-deep .mat-icon-button i,
  .mat-icon-button .mat-icon {
    line-height: 24px;
    outline: none;
    font-size: 20px;
  }

  .toast-in-align {
    padding-left: 20px;
  }

  .btn-close {
    right: unset;
  }
}