.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

::ng-deep .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.81);
}

@media only screen and (max-width: 768px) {
   // ng text editor mobile
}