.example-container {
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  flex: 1;
  background: #303030;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-toolbar {
  background-color: #2d323e;
  border-radius: 2px;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.nav-item {
  height: 40px !important;
  padding: 0 12px 0 24px !important;
  border-radius: 0 20px 20px 0;
  margin-right: 16px;
  padding-left: 56px !important;
  margin-bottom: 5px;
  width: 280px !important;
}

.nav-item-layout {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: bold;
  background-color: #E91E63 !important;
}

.mat-nav-list .mat-list-item {
  font-family: 'Montserrat';
  color: #fff;
}

.div-menu-header {
  width: 300px;
  height: 230px;
}

.img-menu-over {
  max-height: 99px;
  border-radius: 50px;
  box-shadow: #1E2129 5px 10px 9px;
  max-width: 100px;
}

.div-img-center {
  width: inherit; display: flex; justify-content: center;
  position: relative;
  bottom: 55px;
}

.div-img-background {
  width: 120px;
  height: 119px;
  display: flex;
  border-radius: 60px;
  background: #2d323e;
  display: flex;
  justify-content: center;
  align-items: center;
}