.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-toolbar {
  background-color: #fafafa;
  border: none;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.nav-item {
  height: 40px !important;
  padding: 0 12px 0 24px !important;
  border-radius: 0 20px 20px 0;
  margin-right: 16px;
  padding-left: 56px !important;
  margin-bottom: 5px;
}

.nav-item-layout {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: bold;
  background-color: #039be5 !important;
}

.mat-nav-list .mat-list-item {
  font-family: 'Montserrat';
}