<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- <mat-toolbar class="example-toolbar" *ngIf="!mobileQuery.matches"> 
  </mat-toolbar> -->
    <div id="mouse-enter" appMenuOver 
    style=" height: 100%;
    flex-direction: column;
    display: flex;
    width: 90px;
    z-index: 9999 !important;
    box-shadow: 5px 10px 9px #9c4969;
    position: absolute;
    border-radius: 1px;
    overflow-y: visible;
    overflow-x: hidden;
    position: absolute;
    transition: all .43s ease 0s;
    background: #2d323e !important;">

      <div class="div-img-center-above" >
        <button tabindex="-1" mat-icon-button class="btn-toggle-mobile"><mat-icon>menu</mat-icon></button>
        <div style="display: flex; justify-content: center; width: 100%;">
          <img class="img-logo-menu" src="../../../assets/imgs/logo.png">
        </div>
      </div>

      <div class="div-img-center">
        <div  id="out-img" class="div-img-background">
          <img [src]="profileDefault" class="img-menu-over">
        </div>
        <div style="margin-top: 5px;">
          <!-- aqui vai ficar o visto dele em ícone -->
        </div>

        <div align="left" style="color: #fff; height: 0; width: inherit;">
          APPLICATIONS
        </div>

      </div>
      
        <mat-nav-list id="sideNav" style="overflow: hidden;">
          <a mat-list-item  *ngFor="let nav of getfillerNav()?.routes" [ngClass]="['nav-item', nav?.isActive ? 'nav-item-layout' : '' ]">{{ nav?.name }}</a>
          <a mat-list-item  *ngFor="let nav of getfillerNav()?.routes" [ngClass]="['nav-item', nav?.isActive ? 'nav-item-layout' : '' ]">{{ nav?.name }}</a>
        </mat-nav-list>

      

    </div>

    <ng-content></ng-content>

    <!-- <mat-sidenav-container class="example-sidenav-container" [hasBackdrop]="mobileQuery.matches ? true : false"
      [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

      <mat-sidenav-content>
       
        
      </mat-sidenav-content>
      
    </mat-sidenav-container> -->
    
  </div>
