<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- <mat-toolbar class="example-toolbar" *ngIf="!mobileQuery.matches"> 
  </mat-toolbar> -->
    <div id="mouse-enter" appMenuOver 
    style=" height: 100%;
    flex-direction: column;
    display: flex;
    width: 90px;
    z-index: 9999 !important;
    box-shadow: 5px 10px 9px #9c4969;
    position: absolute;
    border-radius: 1px;
    background: #2d323e !important;">

    <div style="width: inherit; height: 200px; background-color: #1E2129;">
    </div>

    <div class="div-img-center">
      <div class="div-img-background">
        <img [src]="profileDefault" class="img-menu-over">
      </div>
    </div>
    
    <span style="color: #fff;">APPLICATIONS</span>

    <mat-nav-list style="padding-top: 20px;">
      <a mat-list-item  *ngFor="let nav of getfillerNav()?.routes" [ngClass]="['nav-item', nav?.isActive ? 'nav-item-layout' : '' ]">{{ nav?.name }}</a>
    </mat-nav-list>

    </div>

    <ng-content></ng-content>

    <!-- <mat-sidenav-container class="example-sidenav-container" [hasBackdrop]="mobileQuery.matches ? true : false"
      [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

      <mat-sidenav-content>
       
        
      </mat-sidenav-content>
      
    </mat-sidenav-container> -->
    
  </div>
