.table-scroll { 
    overflow-x: hidden;
}
  
table {
    width: 100%;
}
  
.selected-row {
    background: #E91E63;
}
  
.table-row:hover {   
    border-top: solid 2px lightgray;
    border-bottom: solid 3px lightgray;
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
    padding-left: 24px;
    padding-right: 24px;
}

td.mat-cell, th.mat-header-cell {
    padding: 10px !important;
}

.content-out {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 75vw;
}

::ng-deep .mat-checkbox-checked  .mat-checkbox-background {
    background-color: #303030 !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #303030 !important;
}