<ng-content select="[filtro]"></ng-content>

<div class="content-out">
    <ng-table-header cabecalhotabela [dataSource]="pageSlice" [selection]="selection" (update)="upDate()"
        (edit)="modify()" (delete)="delete()" (add)="add()" [hasUpdateBtn]="hasUpdateBtn"
        [hasRemoveBtn]="hasRemoveBtn" [hasInsertBtn]="hasInsertBtn"
        [hasModifyBtn]="hasModifyBtn" [hasOptionsBtn]="hasOptionsBtn">
        <ng-content select="[botoesOpcoes]"></ng-content>
    </ng-table-header>

    <div class="table-scroll">
        <table mat-table [dataSource]="pageSlice" matSort
            matSortActive="{{ orderByColumn ? orderByColumn : columnsConfig[0]?.name }}" [matSortDirection]="direction">

            <!--- Note that these columns can be defined in any order.
                                    The actual rendered columns are set as a property on the row definition" -->
            <!-- Checkbox Column -->

            <ng-container matColumnDef="select" *ngIf="checkboxVisible">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" matTooltip="Selecionar todos/nenhum">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation();" (change)="$event ? checkBoxClicked(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- For das colunas que foram baseadas na configuração do atributo columnsConfig-->
            <ng-container [matColumnDef]="column?.name" *ngFor="let column of columnsConfig;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="column.headerClass">{{ column?.title }}
                </th>

                <td mat-cell *matCellDef="let element"
                    (click)="column.click ? column.click(element) + $event.stopPropagation() : null"
                    [innerHTML]="column.cell(element) | safeHtml" [ngClass]="column.class"></td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" [class.make-gold]="true"></tr>

            <tr mat-row [ngClass]="{'selected-row': selection.isSelected(row) }" class="table-row"
                [class.last-row]="row?.lastRow" *matRowDef="let row; columns: displayedColumns;"
                (click)="onRowClicked(row)"></tr>

        </table>
        <mat-paginator [showFirstLastButtons]="true" [length]="data?.data.length" [pageSize]="5"
            [pageSizeOptions]="[5, 10, 15]" (page)="paginate($event)"></mat-paginator>
    </div>
</div>