<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <div #sideMenu ngMenuOver (hasEnterMenu)="onMenuBlur($event)" [hasMobileMatches]="mobileQuery.matches"
    class="side-menu-init">

    <div class="div-img-center-above" [ngStyle]="{'height': mobileQuery.matches ? '15vh' : '19vh' }">

      <div class="div-close-side-menu-mobile">
        <button id="btn-close" tabindex="-1" mat-icon-button class="btn-close-side-menu-mobile"
          (click)="closeSideMenuMobile(sideMenu);" *ngIf="mobileQuery.matches">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="div-img-center-logo">
        <img class="img-logo-menu" src="../../../assets/imgs/logo.png">
      </div>
    </div>

    <div class="div-img-center">
      <div id="out-img" class="div-img-background">
        <img [src]="profileDefault" class="img-menu-over">

        <div class="div-visto-img">
          <img [src]="vistoPic" style="width: 75%; margin-left: 1px;">
        </div>

      </div>
      <div style="margin-top: 5px;">
      </div>

      <div #userInfo class="div-user-info div-fade-out fade-transition-in">
        <div align="center" class="font" style="color: #fff; width: inherit;">
          Igor Alves
        </div>
        <div align="center" class="font" style="color: #fff; width: inherit;">
          igoralves@devbaiano.com.br
        </div>
      </div>

    </div>

    <mat-nav-list id="sideNav" style="overflow: hidden;">
      <div #navListRoutes id="sideNavContainer" [ngClass]="[ hasEnterMenuRef &&nav?.isActive ? 'div-nav-item--active' : 'div-nav-item--disable' ]" class="fade-transition-in" *ngFor="let nav of getfillerNav()?.routes">
          <a mat-list-item class="nav-item" [title]="nav?.name"> <!--[routerLink]="['route', {params: params}]" -->
            <img [src]="nav?.img" [ngClass]="[ hasEnterMenuRef ? 'img-open-icons' : 'img-closed-icons' ]" />
            <div style="margin-left: 8px;" class="fade-transition-in div-fade-out" [ngClass]="[ hasEnterMenuRef ? 'div-fade-in' : 'div-fade-out' ]" >
              {{ nav?.name }}
            </div>
          </a>
      </div>
    </mat-nav-list>
  </div>

  <mat-toolbar class="example-toolbar">
    <button tabindex="-1" mat-icon-button class="btn-toggle-mobile" (click)="toggleMenu(sideMenu)"
      *ngIf="mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <ng-content></ng-content>
</div>