.example-container {
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  flex: 1;
  background: #303030;
  overflow: hidden;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-toolbar {
  background-color: #2d323e;
  border-radius: 2px;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.nav-item {
  height: 40px !important;
  padding: 0 12px 0 24px !important;
  border-radius: 0 20px 20px 0;
  margin-right: 16px;
  padding-left: 56px !important;
  margin-bottom: 5px;
  width: 280px !important;
}

.nav-item-layout {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: bold;
  background-color: #E91E63 !important;
}

.mat-nav-list .mat-list-item {
  font-family: 'Montserrat';
  color: #fff;
}

.div-menu-header {
  width: 300px;
  height: 230px;
}

.btn-toggle-mobile {
  color: white;
  text-align: start;
  outline: none;
}

.img-logo-menu {
  width: 55%;
  transition: all .43s ease 0s;
}

.img-menu-over {
  width: 80%;
  border-radius: 50px;
  box-shadow: #1E2129 5px 10px 9px;
}

.div-img-center {
  width: inherit; display: flex; justify-content: center;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  align-items: center;
  flex-direction: column;
  
}

.div-img-background {
  position: relative;
  width: 85px;
  height: 85px;
  margin-top: -7vh;
  display: flex;
  border-radius: 60px;
  background: #2d323e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .43s ease 0s;
}

.div-img-center-above {
  width: inherit; 
  min-height: 150px;
  background-color: #1E2129; 
} 

::ng-deep .mat-list-base {
  padding-top: 0px !important;
}

.side-menu-init {
  height: 100vh;
  flex-direction: column;
  display: flex;
  z-index: 9999 !important;
  box-shadow: 5px 10px 9px #9c4969;
  position: absolute;
  border-radius: 1px;
  overflow-y: visible;
  overflow-x: hidden;
  position: absolute;
  transition: all .43s ease 0s;
  background: #2d323e !important;
}

.div-img-center-logo {
  display: flex; justify-content: center; margin-top: 3vh;
}

.div-visto-img {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 28px;
  height: 28px;
  background: #4e535f;;
  bottom: 0px;
  right: 0px;
  border-radius: 50%;
}

.side-menu-init {
  width: 8vw;
}

.side-menu-init--active {
  width: 26vw;
}

.btn-close-side-menu-mobile {
  color: #fff;
  outline: none;
  width: 95%;
  top: 10px;
  height: 2px;
}

.div-close-side-menu-mobile {
  width: 50px;
  height: 0px;
  display: flex;
  justify-content: center;
  position: relative;
  left: 80%;
}

.div-user-info {
  font-size: .9em; margin-bottom: 15px; 
}

.div-fade-out {
  opacity: 0;
}

.fade-transition-in {
  transition: 0.8s;
  transition-timing-function: ease-in-out;
}

.fade-transition-out {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 767px) {
  .side-menu-init {
    width: 0px;
  }

  .side-menu-init--active {
    width: 85vw;
  }

  .div-img-background {
    margin-top: -3vh;
  }
}

@media only screen and (width: 1024px) {
  .img-logo-menu {
    width: 80%;
  }

  .side-menu-init {
    width: 12vw;
  }

  .side-menu-init--active {
    width: 26vw;
  }
  
  .side-menu-init--active .div-img-center-above {
    height: 300px !important;
  }

  .div-img-background {
    margin-top: -4vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px)  {
  .img-logo-menu {
    width: 70%;
  }

  .div-img-background {
    margin-top: -5vh;
  }

  .side-menu-init {
    width: 16vw;
  }

  .side-menu-init--active {
    width: 35vw;
  }
}

