<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <div #sideMenu appMenuOver (hasEnterMenu)="onMenuBlur($event)" [hasMobileMatches]="mobileQuery.matches"
    class="side-menu-init">

    <div class="div-img-center-above" [ngStyle]="{'height': mobileQuery.matches ? '150px' : '190px' }">

      <div class="div-close-side-menu-mobile">
        <button id="btn-close" tabindex="-1" mat-icon-button class="btn-close-side-menu-mobile"
          (click)="closeSideMenuMobile(sideMenu);"
          *ngIf="mobileQuery.matches">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="div-img-center-logo">
        <img class="img-logo-menu" src="../../../assets/imgs/logo.png">
      </div>
    </div>

    <div class="div-img-center">
      <div id="out-img" class="div-img-background">
        <img [src]="profileDefault" class="img-menu-over">

        <div class="div-visto-img">
          <img [src]="vistoPic" style="width: 75%; margin-left: 1px;">
        </div>

      </div>
      <div style="margin-top: 5px;">
      </div>

      <div #userInfo class="div-user-info ">
        <div align="center" class="font" style="color: #fff; width: inherit;">
          Igor Alves
        </div>
        <div align="center" class="font" style="color: #fff; width: inherit;">
          igoralves@devbaiano.com.br
        </div>
      </div>

    </div>

    <mat-nav-list id="sideNav" style="overflow: hidden;">
      <div #navListRoutes  *ngIf="hasEnterMenuRef">
        <a mat-list-item *ngFor="let nav of getfillerNav()?.routes"
          [ngClass]="['nav-item', nav?.isActive ? 'nav-item-layout' : '' ]">{{ nav?.name }}</a>
        <a mat-list-item *ngFor="let nav of getfillerNav()?.routes"
          [ngClass]="['nav-item', nav?.isActive ? 'nav-item-layout' : '' ]">{{ nav?.name }}</a>
      </div>
    </mat-nav-list>
  </div>

  <mat-toolbar class="example-toolbar">
    <button tabindex="-1" mat-icon-button class="btn-toggle-mobile" (click)="toggleMenu(sideMenu)"
      *ngIf="mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <ng-content></ng-content>
</div>