$errColor: #CF6679;
$accentColor: #e91e63;
$starColor: #e7a74e;
$justBlack: rgba(0, 0, 0, 0.87);
$justWhite: #ffff;
$lightDarkWhite: #eee;
$crimson: crimson;
$blueBlack : #22262e;
$blueBlackLight: #434a5a;
$boxShadowGold: 0px 16px 50px -11px #ef9003;