<div class="content" *ngIf="!hasClosed">
    <div>
        <form [formGroup]="_form">
            <div class="flexbox-column">
                <div class="flexbox-column">
                    <div class="flexbox-column">
                        <mat-form-field appearance="outline" class="fade-transition-in font"
                            [style.padding-bottom]="styleFormFieldObject?.title?.paddingBottom">
                            <mat-label>Título Enquete</mat-label>
                            <input matInput class="font" autocomplete='off' formControlName="title" required
                                ngAutofillOff minlength="8" type="text" />
                            <mat-error>
                                <ng-input-error (indexLastErrorField)="setPadding($event);"
                                    [control]="_form.controls?.title" [controlName]="'title'"
                                    [errorMsgs]="errorMsgs?.title">
                                </ng-input-error>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div id="boxCheckbox" class="flexbox-row">
                        <mat-checkbox formControlName="hasWhoVoted" [checked]="false" matTooltip="Mostrar quem votou">
                            Mostrar quem votou na enquete
                        </mat-checkbox>

                        <mat-checkbox class="closing-date" formControlName="hasClosingDate" [checked]="false"
                            matTooltip="Data Fechamento" (change)="setDateState($event?.checked)">
                            Data de fechamento
                        </mat-checkbox>
                    </div>

                    <div id="closingDate" class="flexbox-row space-beetween fade-transition-in disabled none">
                        <mat-form-field class="input-text" color="accent" appearance="outline"
                            *ngIf="_form.controls?.closingDate"
                            [style.padding-bottom]="styleFormFieldObject?.closingDate?.paddingBottom">
                            <mat-label>Data Fechamento</mat-label>
                            <input matInput readonly [matDatepicker]="closingDatePicker"
                                (click)="closingDatePicker.open()" class="font" autocomplete='off'
                                formControlName="closingDate" required ngAutofillOff minlength="8" type="text" />
                            <mat-datepicker-toggle matSuffix [for]="closingDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #closingDatePicker></mat-datepicker>
                            <mat-error>
                                <ng-input-error (indexLastErrorField)="setPadding($event);"
                                    [control]="_form.controls?.closingDate" [controlName]="'closingDate'"
                                    [errorMsgs]="errorMsgs?.closingDate">
                                </ng-input-error>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" style="cursor: pointer;" class="fade-transition-in font"
                            [style.padding-bottom]="styleFormFieldObject?.closingTime?.paddingBottom"
                            *ngIf="_form.controls?.closingTime">
                            <mat-label>Horário fim</mat-label>
                            <input matInput readonly class="font" autocomplete='off' formControlName="closingTime"
                                type="text" required [ngxTimepicker]="ngHourPicker" />
                            <mat-icon matSuffix [ngxTimepicker]="ngHourPicker" class="timepickerIcon">access_time
                            </mat-icon>
                            <ngx-material-timepicker #ngHourPicker
                                (opened)="hasTimePicker = !hasTimePicker;timepickerHasOpened();"
                                (closed)="hasTimePicker = !hasTimePicker;" [appendToInput]="true"
                                [enableKeyboardInput]="true">
                            </ngx-material-timepicker>
                            <mat-error>
                                <ng-input-error (indexLastErrorField)="setPadding($event);"
                                    [control]="_form.controls?.closingTime" [controlName]="'closingTime'"
                                    [errorMsgs]="errorMsgs?.closingTime">
                                </ng-input-error>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flexbox-column">
                        <mat-form-field appearance="outline" class="fade-transition-in font"
                            [style.padding-bottom]="styleFormFieldObject?.question?.paddingBottom">
                            <mat-label>Pergunta</mat-label>
                            <input matInput class="font" autocomplete='off' formControlName="question" required
                                ngAutofillOff minlength="8" type="text" />
                            <mat-error>
                                <ng-input-error (indexLastErrorField)="setPadding($event, '2.3');"
                                    [control]="_form.controls?.question" [controlName]="'question'"
                                    [errorMsgs]="errorMsgs?.question">
                                </ng-input-error>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flexbox-row align-items-center opt-label-out">
                        <span class="font opt-label">Opções</span>
                        <button mat-icon-button style="outline: none; left: unset;" tabindex="-1"
                            (click)="$event.preventDefault();onAddControl();"
                            class="product-sans-light btn-submit btn-remove-field fade-transition-in">
                            +1
                        </button>

                        <mat-checkbox formControlName="hasMultipleChoice" [checked]="false" matTooltip="Múltipla Escolha">
                            Múltipla Escolha
                        </mat-checkbox>
                    </div>

                    <div id="opt-container" class="flexbox-column opt-out" [@optContainerState]="containerState">
                        <div class="flexbox-row align-items-baseline space-beetween" formArrayName="formArrOpt"
                            *ngFor="let item of _form.get('formArrOpt')?.controls; let i = index">

                            <mat-form-field appearance="outline" class="fade-transition-in font" style="width: 90%;"
                                [style.padding-bottom]="styleFormFieldObject?.formArrOpt?.paddingBottom">
                                <mat-label> {{ 'Resposta ' + (i + 1) }}</mat-label>
                                <input matInput class="font" autocomplete='off' [formControlName]="i" required
                                    ngAutofillOff minlength="8" type="text" />
                                <mat-error>
                                    <ng-input-error (indexLastErrorField)="setPadding($event)"
                                        [control]="item" [controlName]="'formArrOpt'" [errorMsgs]="errorMsgs[i]">
                                    </ng-input-error>
                                </mat-error>
                            </mat-form-field>

                            <button mat-icon-button style="outline: none;" tabindex="-1"
                                (click)="$event.preventDefault();resetControl(i);"
                                class="product-sans-light btn-submit btn-remove-field fade-transition-in">
                                <mat-icon>close</mat-icon>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <button style="margin-top: 0.2rem; width: 100%;" mat-raised-button
        [@btnSubmitState]="_form.valid ? 'enabled' : 'disabled'"
        class="product-sans-light btn-submit fade-transition-in" (click)="$event.preventDefault();submit(false);"
        cdkFocusInitial>{{ data?.count > 0 && data?.content ? 'Salvar' : 'Anexar' }} Enquete</button>
</div>