<div class="toast-out fade-transition-in ">
    <div class="toast-in" [ngStyle]="{ 'width': hasMobileMatches ? '90vw' : 'unset' }">
        <div id="base-height" class="toast-in-align" [ngStyle]="{ 'width': hasMobileMatches ? 'unset' : '19vw' }">
            <div [ngClass]="[ hasMobileMatches ? 'ball-mobile' : 'ball-web' ]"></div>

            <div class="align-message">
                <strong class="title-msg">{{ title }}</strong>
                <p class="msg">{{ message }}</p>
            </div>
        </div>

    </div>


    <div tabindex="-1" class="align-close" [ngStyle]="{ 'height': elementHeight }">
        <button tabindex="-1" mat-icon-button style="height: 100%; outline: none;"  (click)="closeToast()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

</div>