.toast-out {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-in {
  display: flex;
  background: #22262e;
  align-items: center;
  border-radius: 5px;
}

.toast-in-align {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat';
  text-align: left;
}

.ball-web {
  width: 24px;
  border-radius: 50%;
  background: red;
  height: 24px;
  position: relative;
  top: 15px;
}

.ball-mobile {
  width: 30px;
  border-radius: 50%;
  background: red;
  height: 20px;
}

.align-message {
  margin-left: 1.5em;
  flex-direction: column;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  line-height: 1.5rem;
  margin-top: 3%;
  margin-bottom: 5%;
}

.div-close-toast-btn {
  color: #fff;
  position: absolute;
  margin-left: 8%;
  top: 17px;

}

.msg {
  word-break: break-all;
  margin-bottom: unset !important;
  max-width: 255px;
}

.title-msg {
  font-family: 'Product Sans Light Regular';
  font-size: 22px;
  line-height: 54px;
  font-weight: 500;
  color: #fff;
}

::ng-deep .mat-dialog-container {
  display: unset;
  padding: unset;
  border-radius: unset;
  box-sizing: unset;
  overflow: hidden;
  outline: unset;
  width: unset;
  height: unset;
  min-height: unset;
  max-height: unset;
  background: transparent;
}

.align-close {
  outline: none;
  background: #E91E63;
  align-items: center;
  display: flex;
  border-radius: 0px 5px 5px 0px;
}

::ng-deep .mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 24px;
  color: #fff;
  outline: none;
}