<div *ngIf="!hasClosed" class="toast-out fade-transition-in ">
    <div class="toast-in" [ngStyle]="{ 'width': hasMobileMatches ? '80vw' : 'unset' }">
        <div id="base-height" class="toast-in-align" [ngStyle]="{ 'width': hasMobileMatches ? '100%' : '19vw' }">
            <div [ngClass]="[ hasMobileMatches ? 'ball-mobile' : 'ball-web' ]" [ngStyle]="{ 'background': getColorRef(data) }"></div>

            <div class="align-message">
                <strong class="title-msg" [ngStyle]="{ 'line-height': getStyle('unset', '28px'), 'font-size': getStyle('16px', '20px') }">{{ title }}</strong>
                <p class="msg" [ngStyle]="{ 'font-size': getStyle('13px', '16px'), 'max-width': getStyle('161px', '255px') }">{{ message }}</p>
            </div>
        </div>

    </div>

    <div class="align-close" [ngStyle]="{ 'height': elementHeight, 'background': getStyle('#E91E63', '#22262e') }">
        <button tabindex="-1" #btnClose (mouseover)="setCloseColor(btnClose, data)" [ngClass]="[ hasMobileMatches ? '' : 'btn-close' ]" [ngStyle]="{ 'height': getStyle('100%', 'unset') }" mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>