<div class="example-container" [class.example-is-mobile]="hasMobileMatches">

  <div #sideMenu ngMenuOver (hasEnterMenu)="onMenuBlur($event)" id="sideMenuContainer"
    [hasMobileMatches]="hasMobileMatches" class="side-menu-init">

    <div class="div-img-center-above" [ngStyle]="{'height': hasMobileMatches ? '15vh' : '19vh' }">

      <div class="div-close-side-menu-mobile">
        <button id="btn-close" tabindex="-1" mat-icon-button class="btn-close-side-menu-mobile"
          (click)="closeSideMenuMobile(sideMenu);" *ngIf="hasMobileMatches">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="" [ngClass]="[ hasMobileMatches ? 'div-img-center-logo-mobile' : 'div-img-center-logo' ]">
        <img class="img-logo-menu" src="assets/imgs/logo.png">
      </div>
    </div>

    <div class="div-img-center">
      <div id="out-img"
        [ngClass]="[ hasMobileMatches || hasEnterMenuRef ? 'div-img-background-mobile' : 'div-img-background' ]">
        <img [src]="profileDefault | async" class="img-menu-over">

        <div class="div-visto-img div-fade-out fade-transition-in">
          <!---->
          <img [src]="vistoPic | async" style="width: 75%; margin-left: 1px;">
        </div>

      </div>
      <div style="margin-top: 5px;">
      </div>

      <div #userInfo class="div-user-info div-fade-out fade-transition-in">
        <div align="center" class="font" style="color: #fff; width: inherit;">
          Igor Alves
        </div>
        <div align="center" class="font" style="color: #fff; width: inherit;">
          igoralves@devbaiano.com.br
        </div>
      </div>
    </div>

    <div id="sideNav" class="div-side-nav" *ngIf="!hasMobileMatches; else navMobile" style="overflow-y: auto; overflow-x: hidden;">
      <div #navListRoutes id="sideNavContainer" class="div-side-nav-container" style="cursor: pointer;"
        (click)="navigate(nav?.path);"
        [ngClass]="[ hasEnterMenuRef && nav?.isActive ? 'div-nav-item--active' : 'div-nav-item--colapsed', hasEnterMenuRef ? 'div-align-nav-item--active' : '' ]"
        class="fade-transition-in" *ngFor="let nav of routes$ | async">
        <div [title]="nav?.name" [ngClass]="[ hasEnterMenuRef ? 'nav-item' : 'nav-item-colapsed' ]">

          <div [ngClass]="[ !hasEnterMenuRef && nav?.isActive ? 'div-img-closed-icons--active' : '' ]">
            <img [src]="nav?.img" [ngClass]="[ hasEnterMenuRef ? 'img-open-icons' : 'img-closed-icons' ]" />
          </div>

          <div style="margin-left: 20px;" class="fade-transition-in div-fade-out font"
            [ngClass]="[ hasEnterMenuRef ? 'div-fade-in' : 'div-fade-out', hasEnterMenuRef ? 'nav-name-active' : 'nav-name-colapsed' ]">
            {{ nav?.name }}
          </div>
        </div>
      </div>
    </div>

    <ng-template #navMobile>
      <div class="div-side-nav">
        <div style="overflow-y: auto; overflow-x: hidden;">
          <button *ngFor="let item of routes$ | async" mat-raised-button
            [ngClass]="[ hasEnterMenuRef && item?.isActive ? 'nav-mobile--active' : 'nav-mobile--default' ]"
            (click)="navigate(item?.path)" class="btn font" cdkFocusInitial>
            <div id="euagr" class="div-nav-item-mobile">
              <img style="margin-right: 15px;" [src]="item?.img"
                [ngClass]="[ hasEnterMenuRef ? 'img-open-icons' : 'img-closed-icons' ]" />
              {{ item?.name }}
            </div>
          </button>
        </div>
      </div>
    </ng-template>

  </div>



  <div style="display: flex; justify-content: center; flex-direction: column;">
    <mat-toolbar class="my-toolbar">
      <button *ngIf="hasMobileMatches" tabindex="-1" mat-icon-button class="btn-toggle-mobile" (click)="toggleMenu(sideMenu)">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="div-content-align" [ngStyle]="{'padding-left': hasMobileMatches ? 'unset' : '6vw' }">
      <ng-content></ng-content>
    </div>
  </div>

</div>