<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <div #sideMenu ngMenuOver (hasEnterMenu)="onMenuBlur($event)" id="sideMenuContainer"
    [hasMobileMatches]="mobileQuery.matches" class="side-menu-init">

    <div class="div-img-center-above" [ngStyle]="{'height': mobileQuery.matches ? '15vh' : '19vh' }">

      <div class="div-close-side-menu-mobile">
        <button id="btn-close" tabindex="-1" mat-icon-button class="btn-close-side-menu-mobile"
          (click)="closeSideMenuMobile(sideMenu);" *ngIf="mobileQuery.matches">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="" [ngClass]="[ mobileQuery.matches ? 'div-img-center-logo-mobile' : 'div-img-center-logo' ]">
        <img class="img-logo-menu" src="../../../assets/imgs/logo.png">
      </div>
    </div>

    <div class="div-img-center">
      <div id="out-img"
        [ngClass]="[ mobileQuery.matches || hasEnterMenuRef ? 'div-img-background-mobile' : 'div-img-background' ]">
        <img [src]="profileDefault" class="img-menu-over">

        <div class="div-visto-img div-fade-out fade-transition-in">
          <!---->
          <img [src]="vistoPic" style="width: 75%; margin-left: 1px;">
        </div>

      </div>
      <div style="margin-top: 5px;">
      </div>

      <div #userInfo class="div-user-info div-fade-out fade-transition-in">
        <div align="center" class="font" style="color: #fff; width: inherit;">
          Igor Alves
        </div>
        <div align="center" class="font" style="color: #fff; width: inherit;">
          igoralves@devbaiano.com.br
        </div>
      </div>
    </div>

    <div id="sideNav" class="div-side-nav">
      <div #navListRoutes id="sideNavContainer" style="cursor: pointer;" (click)="navigate(nav?.path);"
        [ngClass]="[ hasEnterMenuRef && nav?.isActive ? 'div-nav-item--active' : 'div-nav-item--colapsed', hasEnterMenuRef ? 'div-align-nav-item--active' : '' ]"
        class="fade-transition-in" *ngFor="let nav of getfillerNav()?.routes">
        <div [title]="nav?.name" [ngClass]="[ hasEnterMenuRef ? 'nav-item' : 'nav-item-colapsed' ]">
          <!--[routerLink]="['route', {params: params}]" -->

          <div [ngClass]="[ !hasEnterMenuRef && nav?.isActive ? 'div-img-closed-icons--active' : '' ]">
            <img [src]="nav?.img" [ngClass]="[ hasEnterMenuRef ? 'img-open-icons' : 'img-closed-icons' ]" />
          </div>

          <div style="margin-left: 20px;" class="fade-transition-in div-fade-out"
            [ngClass]="[ hasEnterMenuRef ? 'div-fade-in' : 'div-fade-out', hasEnterMenuRef ? 'nav-name-active' : 'nav-name-colapsed' ]">
            {{ nav?.name }}
          </div>
        </div>
      </div>
    </div>

  </div>

  <mat-toolbar class="example-toolbar">
    <button tabindex="-1" mat-icon-button class="btn-toggle-mobile" (click)="toggleMenu(sideMenu)"
      *ngIf="mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <ng-content></ng-content>
</div>