
<div class="out-login base-color">
    <div class="logo-out">
        <img class="logo" src="../../../assets/imgs/logo.png" alt="Photo of a Shiba Inu">
    </div>

    <div class="login">
        <mat-form-field appearance="outline" class="font">
            <mat-label>Username</mat-label>
            <input matInput class="font">
        </mat-form-field>

        <mat-form-field class="font" appearance="outline" hintLabel="Mínimo de 8 caracteres" style="display: flex;">
            <mat-label>Password</mat-label>
            <input matInput #input type="password" [type]="hide ? 'password' : 'text'"
            maxlength="10" minlength="8"> 
            <mat-icon-button style="cursor: pointer; color: white;" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-icon-button>
            <mat-hint class="primary-color" align="end">{{input.value?.length || 0}} / 8</mat-hint>
        </mat-form-field>
        
        <button mat-raised-button (click)="signIn()" class="btn font" cdkFocusInitial>Entrar</button>
    </div>
</div>