html, body { height: 100%; background: #303030; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.ttf'),
}

@font-face { font-family: 'Product Sans'; src: url('./assets/fonts/ProductSans-Regular.ttf') }
@font-face { font-family: 'Product Sans Light Italic'; src: url('./assets/fonts/ProductSans-LightItalic.ttf') }
@font-face { font-family: 'Product Sans Light Regular'; src: url('./assets/fonts/ProductSans-Light.ttf') }
@font-face { font-family: 'Product Sans Black Regular'; src: url('./assets/fonts/ProductSans-Black.ttf') }
@font-face { font-family: 'Product Sans Medium'; src: url('./assets/fonts/ProductSans-Medium.ttf') }
@font-face { font-family: 'Montserrat Semi Bold'; src: url('./assets/fonts/Montserrat-SemiBold.ttf') }
@font-face { font-family: 'Montserrat Medium'; src: url('./assets/fonts/Montserrat-Medium.ttf') }

@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,500,500i,700,700i&display=swap");


.accent-color {
    color: #E91E63;
}

.primary-color {
    color: #fff;
}

.base-color {
    background-color: #303030;;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
	color: #E91E63;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
}

.space-beetween {
    justify-content: space-between;
}

.font {
    font-family: 'Montserrat';
}

.font-semi-bold {
    font-family: 'Montserrat Semi Bold';
}

.product-sans-light {
    font-family: 'Product Sans Light Regular';
}

.fade-transition-in {
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}
  
.fade-transition-out {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.input-text {
    font-family: "Montserrat";
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    color: #fff;
}

.btn-submit {
    font-family: 'Product Sans Black Regular';
    font-size: 1rem;
    background: #E91E63;
    color: #22262e;
    outline: none !important;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.enabled {
    opacity: 1;
    pointer-events: auto;
}

div#msg-error-ng-default {
    margin-bottom: 2px;
}

.text-link {
    color: #fff;
    font-family: 'Montserrat';
    cursor: pointer;
}

.text-link:hover {
    color: #E91E63;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.iss-content {
    cursor:pointer; 
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.iss-content-row {
    flex-direction: row !important;
    align-items: center;
}

.iss-title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    overflow-wrap: anywhere;
}

.iss-subtitle {
    max-width: 220px;
    font-family: 'Product Sans Light Regular';
}

.iss-author {
    padding-bottom: 2px;
}

.iss-img-out {

}

.iss-img {
    width: 3.5vw;
    border-radius: 5px;
}

.iss-info {
    padding-left: 15px;
}

// ************** TimePicker **********************