@import "src/app/shared/style/variables";

.container {
  background-color: crimson;
  height: 100%;
  width: 100%;
  position: relative;
}

.left-truncation {
  background-color: crimson;
  width: 30px;
  position: absolute;
  left: 0px;
  height: 100%;

  background: linear-gradient(
    to left,
    rgba($crimson, 0) 0%,
    rgba(#2d323e, 0.3) 80%,
    rgba(#2d323e, 1) 100%
  );
}

.right-truncation {
  background-color: crimson;
  width: 30px;
  position: absolute;
  right: 0px;
  height: 100%;

  background: linear-gradient(
    to right,
    rgba($crimson, 0) 0%,
    rgba(#2d323e, 0.3) 80%,
    rgba(#2d323e, 1) 100%
  );
}

.mainbox {
  background-color: crimson;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: $justWhite;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 26%;
  top: 10%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 20%;
  color: $justWhite;
}

.err2 {
  color: $justWhite;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 65%;
  top: 10%;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
  color: $justBlack;
}

a {
  text-decoration: none;
  color: $justWhite;
}

a:hover {
  text-decoration: underline;
}
