.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: none;
}

.content-inside {
    width: fit-content;
    font-size: 85%;
    overflow: auto;
}

.square {
    color: #fff;
    background: #22262e;
    padding: 5vh;
    border-radius: 2%;
    border: transparent;
    max-width: 25vw;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content-inside {
    display: flex;
    flex-direction: column;
}

.logo-out {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo {
    max-width: 13vw;
}

.label-info {
    margin-bottom: 6%;
}

::ng-deep .mat-hint {
    color: #fff;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border: 1.4px solid #fff;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
	color: #fff;
}

::ng-deep .mat-form-field-label {
    color: #fff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    color: #fff;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #fff !important;
    opacity: 0.2 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    opacity: 0.3;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    
    .square{
        max-width: 85vw;
    }

    .logo-out {
        position: relative;
        bottom: 2vh;
    }

    .logo {
        max-width: 45%;
    }

}